html{
scroll-behavior: smooth;
}

/* Header and Nav */

header{
background-color: rgba(165, 42, 42,1);
border-radius: 20px;
padding: 2px;
width: 99%;
position: fixed;
top: 3px;
height: 85px;
z-index: 5;
}

header .nav-bar{
color: whitesmoke;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo .nav-logo{
list-style-type: none;
}

.logo .nav-logo .logo-link{
text-decoration: none;
color: whitesmoke;
font-size: 18px;
font-style: oblique;
}

.nav-item{
list-style-type: none; 
display: flex;
gap: 80px;
margin-right: 90px;
justify-content: space-between;
}

.nav-link{
text-decoration: none;
color: whitesmoke;
font-size: 18px;
transition: 0.5s ease;
}

.nav-link:hover{
padding: 10px 12px;  
color: rgba(165, 42, 42,1) ;  
background-color: orangered;
border-radius: 10px;
}

/* Hero section */

.hero-section{
background-color:rgba(165, 42, 42,1) ;
width: 101%;
height: 567px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 20px;
}

.message .main-heading{
color: orange;
font-style: oblique;
}

.hero-section .message{
color: white; 
font-size: 19px; 
margin-left: 80px;  
}

.car-pic{
margin-right: 150px;

animation-name: moveCar;
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: 1;
animation-timing-function: ease-out;
}

@keyframes moveCar{

0%{
transform: translateX(750px);
}


100%{
transform: translateX(0px);
}

}

.car-pic:hover{
transform:translateY(-3px);
}

/* About Section */

.about-section{
display: flex;
justify-content: space-between;
align-items: center;  
padding: 60px 40px;  
font-size: 19px;
gap: 60px;
}

.about-section .about{
text-align: center;
line-height: 2rem;
}

.about-section .about-image img{
width: 350px;
height: 320px;
border-radius: 50%;
border: 2px groove orangered;
}

/* collection section */

.collection-section{
background: darkolivegreen;
height: 1700px;
border-radius: 20px; 

}

.collection-section .heading{
font-size: 22px;
color: white;
text-align: center;
padding-top: 10px;
}

 .car-info .message{
color: whitesmoke;

 }

 .car-info .name-car{
color: orange;
font-style: italic;
font-weight: 800;
 }

.collection-section .collection-gallery .car img{
height: 350px;
width: 350px;
}

.collection-gallery .car{
text-align: center;

}

.collection-section .collection-gallery .audi img{
width: 270px;
height: 350px;
padding-left: 10px;
}

.collection-section .collection-gallery .porsche img{
height: 250px;
width: 250px;
margin-top: 100px;
}

.collection-section .collection-gallery .mustang img{
height: 420px;
width: 410px;

}

.collection-gallery .mustang{
margin-top: -40px;
}

.collection-gallery{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
}

@media  (max-width: 400px) {

.hero-section{
flex-direction: column-reverse;  
justify-content: center;
justify-items: center;
} 

.hero-section .message{
font-size: 15px;
margin-left: 7px;
}

.hero-section .car-pic img{
width: 220px;
height: 220px;
margin-left: 150px;
}


.about-section .about-image img{
width: 200px;
height: 200px;
}

.about-details{

    line-height: -5rem;
}

.about-section .about{
margin-top: -50px;

}

 .about-section{
flex-direction: column;
font-size: small;
 }   

.collection-section{
margin-top: -50px;    
height: 2650px;
justify-content: center;
} 

.collection-section .collection-gallery .car img{
width: 130px;
height: 100px;
}

.collection-section .collection-gallery .porsche img{
margin-top: -5px;
}

.collection-gallery{

grid-template-columns: repeat(1, 1fr);

}
}

